.article-container>article.x\:container {
     @apply max-w-[700px] py-0;
}

.content-wrapper> :first-child {
     @apply mt-0;
}

.content-wrapper> :last-child {
     @apply mb-0;
}

/* Override for full-width pages */
.article-container>article.x\:container:has(.full-width-content) {
     @apply max-w-none;
}

.full-width-content {
     @apply w-full;
}